/* =========================================
  5. SKILLS GRID
========================================= */
.seccion-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-16) var(--space-24);
  font-family: 'Manrope', sans-serif; /* Tipografía general del cuerpo */
}


.encabezado-centrado {
  text-align: center;
  color: var(--text-main);
  margin-bottom: var(--space-16);
  font-family: 'Fraunces', serif; /* Tipografía para destacar el título */
  font-size: var(--text-2xl); 
}

.subtitulo-centrado {
  text-align: center;
  color: var(--text-muted);
  max-width: 60ch;
  line-height: 1.6;
}

/* Usamos Flexbox para centrar las tarjetas */
.grid-skills {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly;
  padding: var(--space-16) var(--space-24);
  gap: var(--space-32)
}

/* Contenedor que agrupa la caja + el texto de abajo */
.skill-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-16);
  transition: transform 0.3s ease;
  cursor: default;
}

/* La Caja Oscura (El Squircle) */
.skill-box {
  width: 140px;
  height: 140px;
  background-color: var(--bg-card); 
  border-radius: 32px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  /* Borde sutil para separar la caja del fondo */
  border: 1px solid var(--text-muted, 0.8); 
  box-shadow: 0 10px 10px hsl(var(--h-marca), var(--s-marca), var(--l-marca), 0.1);
  transition: all 0.3s ease;
}

/* --- ELEMENTOS INTERNOS --- */

/* El Icono SVG */
.skill-icon {
  width: 48px;
  height: 48px;
  color: var(--text-main); /* Nace blanco/claro */
  transition: color 0.3s ease;
}

/* El Nivel de Dominio (Ej: Avanzado) */
.skill-pct {
  color: var(--text-muted); 
  font-weight: 700;
  font-size:  var(--text-sm);
  text-transform: uppercase; /* Lo hacemos ver como una etiqueta técnica */
  letter-spacing: 1px;
}

/* El Nombre de la Tecnología (Flotando abajo) */
.skill-name {
  color: var(--text-main); /* Neutro para mantener la elegancia */
  font-weight: 600;
  font-size: var(--text-base);
  letter-spacing: 0.5px;
}

/* --- MICROINTERACCIONES --- */

/* 1. Levantar todo el grupo */
.skill-wrapper:hover {
  transform: translateY(-8px);
}

/* 2. Encender la caja y el icono con el color de marca */
.skill-wrapper:hover .skill-box {
  border-color: var(--brand-color);
  box-shadow: 0 10px 18px var(--brand-glow);
}

.skill-wrapper:hover .skill-icon {
  color: var(--brand-color); 
}